@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "poppins";
  /* background-color: rgb(0, 3, 9);
  color: white; */
  /* max-width: 1250px; */
  font-family: "poppins";
}

.timesroman {
  font-family: "Times New Roman", Times, serif;
}

